@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row py-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create New Category</a>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Display Order</th>
                <th>Created At</th>
                <th colspan="2">Actions</th>
            </tr>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                    <td>@category.DateTime</td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </thead>
    </table>
</div>


